<%= simple_form_for @outfit do |f| %>
  <!-- Top Product Selection -->
  <div class="row mb-4">
    <div class="col-6">
      <label class="product-option">
        <input type="radio" name="outfit[top]" value="<%= @top_choice1&.id %>" class="d-none">
        <div class="suggested-product-frame">
          <%= image_tag @top_choice1&.image, class: "img-fluid product-image" if @top_products.any? %>
        </div>
      </label>
      <p class="price-text">$<%= @top_choice1.price %></p>
    </div>
    <div class="col-6">
      <label class="product-option">
        <input type="radio" name="outfit[top]" value="<%= @top_choice2&.id %>" class="d-none">
        <div class="suggested-product-frame">
          <%= image_tag @top_choice2&.image, class: "img-fluid product-image" if @top_products.length > 1 %>
        </div>
      </label>
      <p class="price-text">$<%= @top_choice2.price %></p>
    </div>
  </div>

  <!-- Bottom Product Selection -->
  <div class="row mb-4">
    <div class="col-6">
      <label class="product-option">
        <input type="radio" name="outfit[bottom]" value="<%= @bottom_choice1&.id %>" class="d-none">
        <div class="suggested-product-frame">
          <%= image_tag @bottom_choice1&.image, class: "img-fluid product-image" if @bottom_products.any? %>
        </div>
      </label>
      <p class="price-text">$<%= @bottom_choice1.price %></p>
    </div>
    <div class="col-6">
      <label class="product-option">
        <input type="radio" name="outfit[bottom]" value="<%= @bottom_choice2&.id %>" class="d-none">
        <div class="suggested-product-frame">
          <%= image_tag @bottom_choice2&.image, class: "img-fluid product-image" if @bottom_products.length > 1 %>
        </div>
      </label>
      <p class="price-text">$<%= @bottom_choice2.price %></p>
    </div>
  </div>

  <!-- Shoe Product Selection -->
  <div class="row mb-4">
    <div class="col-6">
      <label class="product-option">
        <input type="radio" name="outfit[shoe]" value="<%= @shoe_choice1&.id %>" class="d-none">
        <div class="suggested-product-frame">
          <%= image_tag @shoe_choice1&.image, class: "img-fluid product-image" if @shoe_products.any? %>
        </div>
      </label>
      <p class="price-text">$<%= @shoe_choice1.price %></p>
    </div>
    <div class="col-6">
      <label class="product-option">
        <input type="radio" name= "outfit[shoe]" value="<%= @shoe_choice2&.id %>" class="d-none">
        <div class="suggested-product-frame">
          <%= image_tag @shoe_choice2&.image, class: "img-fluid product-image" if @shoe_products.length > 1 %>
        </div>
      </label>
      <p class="price-text">$<%= @shoe_choice2.price %></p>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="row">
    <div class="col-12 text-center">
      <%= f.input :name, class: "d-none", style: "visibility: hidden;" %>
      <%= f.submit 'Save Outfit', class: 'btn btn-primary btn-lg mb-5' %>
    </div>
  </div>
<% end %>
