<div class="outfit-card">
  <div class="container-card bg-white-box">
    <div class="d-flex align-items-center justify-content-between">
      <% outfit.products.each do |product| %>
        <div class="outfit-product-image">
          <%= image_tag(product.image, class: "img-fluid", alt: product.name) %>
        </div>
      <% end %>
    </div>
    <p class="card-title"><%= outfit.name %></p>
    <div class="d-flex justify-content-between">
      <p class="card-description">Total Price: <%= number_to_currency(outfit.products.sum(&:price), {unit: '$', precision: 0}) %></p>
      <p class="card-description"><%= outfit.season&.capitalize %></p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="card-description"><%= outfit.style&.capitalize %></p>
      <p class="card-description"><%= outfit.gender&.capitalize %></p>
    </div>
    <%= link_to edit_outfit_path(outfit) do %>
      <i class="fa-solid fa-pen text-white"></i>
    <% end %>
    <%= link_to outfit_path(outfit), method: :delete, data: { confirm: 'Are you sure you want to delete this outfit?' } do %>
      <i class="fa-regular fa-trash-can text-white"></i>
    <% end %>
  </div>
</div>
