<div class="container-nice d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 112px);">
  <div class="background-image-home">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <%= simple_form_for(@outfit) do |f| %>
          <!-- File upload for photo -->
          <div class="form-group">

            <%= f.input :photo, as: :file, label: "Upload Photo", input_html: { class: "form-control" } %>
          </div>
          <!-- Outfit name field -->
          <div class="form-group">
            <%= f.label :name, "Name your outfit", class: "text-white" %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Enter outfit name', required: true %>
            <% if @outfit.errors[:name].any? %>
              <div class="text-danger">
                <%= @outfit.errors[:name].join(", ") %>
              </div>
            <% end %>
          </div>
          <!-- Hidden field for user -->
          <%= f.hidden_field :user %>
          <!-- Submit button -->
          <div class="form-group text-center mt-4">
            <%= f.button :submit, "Create Outfit", class: "btn btn-success rounded-pill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to preview the image when a file is selected
  function previewImage(event) {
    var file = event.target.files[0];
    var reader = new FileReader();
    var preview = document.getElementById('image-preview');

    // Check if a file is selected
    if (file) {
      reader.onload = function(e) {
        preview.src = e.target.result; // Set the image source to the uploaded file
        preview.style.display = "block"; // Show the image preview
      };
      reader.readAsDataURL(file); // Read the image file
    }
  }
</script>
