<div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 112px);">
  <div class="background-image-home">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <%= simple_form_for(@outfit) do |f| %>

          <!-- File upload for photo -->
          <div class="form-group">
            <!-- Custom button with Font Awesome icon -->
            <%= f.label :photo, class: "btn btn-secondary d-flex align-items-center", for: "outfit_photo" do %>
              <i class="fa-solid fa-image mr-3"></i> Upload
            <% end %>

            <!-- File input field -->
            <%= f.input :photo, as: :file, input_html: { class: "d-none", id: "outfit_photo", onchange: "previewImage(event)" } %>
          </div>

          <!-- Preview Image -->
          <div class="form-group text-center">
            <img id="image-preview" src="" alt="Image Preview" class="img-thumbnail" style="display:none; max-width: 200px;"/>
          </div>

          <!-- Hidden field for user -->
          <%= f.hidden_field :user %>

          <!-- Submit button -->
          <div class="form-group text-center mt-4">
            <%= f.button :submit, "Create Outfit", class: "btn btn-success rounded-pill" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to preview the image when a file is selected
  function previewImage(event) {
    var file = event.target.files[0];
    var reader = new FileReader();
    var preview = document.getElementById('image-preview');

    // Check if a file is selected
    if (file) {
      reader.onload = function(e) {
        preview.src = e.target.result; // Set the image source to the uploaded file
        preview.style.display = "block"; // Show the image preview
      };
      reader.readAsDataURL(file); // Read the image file
    }
  }
</script>
