<div class="outfit-form">
<h1 class="text-center">Customized outfit</h1>
<p class="text-center">Click on the image to change the cloth !</p>
<%= simple_form_for @outfit, url: create_from_products_outfits_path, method: :post, local: true do |f| %>
    <!-- Filter for Top Products -->
    <h2 class="text-center">Select a Top</h2>
    <div class="section d-flex align-item-center justify-content-center"
        data-controller="filter"
         data-filter-part="top"
         data-filter-products="<%= @top_products.to_json %>">
      <div class="filter-box">
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="seasonSelect" id="season-top">
            <option value="">All Seasons</option>
            <option value="summer">Summer</option>
            <option value="fall">Fall</option>
            <option value="winter">Winter</option>
            <option value="spring">Spring</option>
          </select>
        </div>
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="styleSelect" id="style-top">
            <option value="">All Styles</option>
            <option value="casual">Casual</option>
            <option value="formal">Formal</option>
          </select>
        </div>
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="genderSelect" id="gender-top">
            <option value="">All Genders</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <!-- Product Image for Top -->
      <div class="product-group">
        <img data-filter-target="productImage" src="<%= @top_products.first.image %>" alt="<%= @top_products.first.name %>"
             data-action="click->filter#cycleProductImage" class="new-product-image">
        <%= hidden_field_tag 'outfit[top]', @top_products.first.id, data: { filter_target: "productField" } %>
        <p>$<span data-filter-target="productPrice"><%= @top_products.first.price %></span></p>
      </div>
    </div>
    <!-- Filter for Bottom Products -->
    <h2 class="text-center">Select a Bottom</h2>
    <div class="section d-flex align-item-center justify-content-center"
         data-controller="filter"
         data-filter-part="bottom"
         data-filter-products="<%= @bottom_products.to_json %>">
      <div class="filter-box">
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="seasonSelect" id="season-bottom">
            <option value="">All Seasons</option>
            <option value="summer">Summer</option>
            <option value="fall">Fall</option>
            <option value="winter">Winter</option>
            <option value="spring">Spring</option>
          </select>
        </div>
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="styleSelect" id="style-bottom">
            <option value="">All Styles</option>
            <option value="casual">Casual</option>
            <option value="formal">Formal</option>
          </select>
        </div>
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="genderSelect" id="gender-bottom">
            <option value="">All Genders</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <!-- Product Image for Bottom -->
      <div class="product-group">
        <img data-filter-target="productImage" src="<%= @bottom_products.first.image %>" alt="<%= @bottom_products.first.name %>"
             data-action="click->filter#cycleProductImage" class="new-product-image">
        <%= hidden_field_tag 'outfit[bottom]', @bottom_products.first.id, data: { filter_target: "productField" } %>
         <p>$<span data-filter-target="productPrice"><%= @bottom_products.first.price %></span></p>
       </div>
    </div>
    <!-- Filter for Shoes -->
    <h2 class="text-center">Select Shoes</h2>
    <div class="section d-flex align-item-center justify-content-center"
         data-controller="filter"
         data-filter-part="shoes"
         data-filter-products="<%= @shoe_products.to_json %>">
      <div class="filter-box">
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="seasonSelect" id="season-shoes">
            <option value="">All Seasons</option>
            <option value="summer">Summer</option>
            <option value="fall">Fall</option>
            <option value="winter">Winter</option>
            <option value="spring">Spring</option>
          </select>
        </div>
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="styleSelect" id="style-shoes">
            <option value="">All Styles</option>
            <option value="casual">Casual</option>
            <option value="formal">Formal</option>
          </select>
        </div>
        <div>
          <select data-action="change->filter#applyFilters" data-filter-target="genderSelect" id="gender-shoes">
            <option value="">All Genders</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <!-- Product Image for Shoes -->
      <div class="product-group">
        <img data-filter-target="productImage" src="<%= @shoe_products.first.image %>" alt="<%= @shoe_products.first.name %>"
             data-action="click->filter#cycleProductImage" class="new-product-image">
        <%= hidden_field_tag 'outfit[shoe]', @shoe_products.first.id, data: { filter_target: "productField" } %>
         <p>$<span data-filter-target="productPrice"><%= @shoe_products.first.price %></span></p>
      </div>
    </div>

    <!-- Total Price Display -->
      <h2 class="text-center">Total Price: $<span id="total-price">0</span></h2>
    <!-- Outfit Name Field -->
    <div class="form-group">
      <%= f.label :name, "Outfit Name" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter the name of your outfit", required: true %>
    </div>
    <!-- Submit Button -->
    <div class="form-group">
      <%= f.submit "Create Outfit", class: "submit-btn" %>
    </div>
  </div>
<% end %>
