<div class="outfit-show p-3">
  <h1>Outfit Details</h1>

  <!-- Show buttons based on outfit pieces -->
  <div class="outfit-products-row">
    <% ['top', 'bottom', 'shoes'].each_with_index do |type, index| %>
      <% product = @outfit.outfit_products[index] %>

      <div class="outfit-product-card">
        <% if product %>
          <!-- If product exists, display the product -->
          <%= link_to product.product.link_url, target: "_blank" do %>
            <%= image_tag(product.product.image, alt: product.product.name) %>
          <% end %>
          <p class="product-name"><%= product.product.name %></p>
          <p class="product-price">$<%= product.product.price %></p>
          <!-- Delete button -->
          <div class="delete-button-container">
            <%= link_to "Remove", outfit_product_path(product),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn-remove" %>
          </div>
        <% else %>
          <!-- If product is missing, show a button to add the product -->
          <%= link_to "Add #{type.capitalize}", new_from_products_outfits_path(type: type), class: "btn-add-piece" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Total Price -->
  <p class="total-price">Total: <%= number_to_currency(@outfit.products.sum(&:price), unit: '$', precision: 0) %></p>

  <!-- Back Button -->
  <div class="back-button">
    <%= link_to "Back to Outfits", outfits_path, class: "btn-back" %>
  </div>
</div>
