<!DOCTYPE html>
<html>
  <head>
    <title>WhatDoIWear</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
     <%= render 'shared/ios_pwa_links' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
  <div class="container-fluid d-flex justify-content-around">

    <a class="nav-link text-center" href="#">
      <i class="bi bi-house-door fs-4"></i>
      <div class="small">Home</div>
    </a>

    <a class="nav-link text-center" href="#">
      <i class="bi bi-shop fs-4"></i>
      <div class="small">Closet</div>
    </a>

    <a class="nav-link text-center" href="#">
      <i class="bi bi-search fs-4"></i>
      <div class="small">Search</div>
    </a>

    <a class="nav-link text-center" href="#">
      <i class="bi bi-person fs-4"></i>
      <div class="small">Profile</div>
    </a>

  </div>
</nav>




<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
